

<form style="width: 50%; margin: 100px auto"  action="/signup" method="POST" id="form-container">
  <div class="form-group">
      <label style="color: white" for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username" name="username">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
  <br><br>
  <div class="form-group">
      <label style="color: white" for="exampleInputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button class= btn-success>Create account</button>

  <p style="color: white" class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
