<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  </head>
          <div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">           
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->
      <div style="width: 700px; margin: 80px 10%"class="index-writing">
      <p>PlayBall connects everyday athletes around your local area for fun and competitive games</p>
      </div>
</html>
