<form method="post" action="/games/<%=theGame._id%>">
    <label for="sport-input"> Sport: </label>
    <input  id="sport-input" type="text" name="sport" value="<%=theGame.sport%>">
    <br>
  
    <label for="address-input"> Address: </label>
    <input  id="address-input" type="text" name="address" value="<%=theGame.address%>" >
    <br>
    <label for="maxPlayers">Max Players</label>
    <input type="number" name="maxPlayers" value="<%=theGame.maxPlayers%>" >
    <br>
    <button type="submit"> Update Game </button>
  </form>