<form method="post" action="/newgame">
    <label for="sport-input"> Sport: </label>
    <input  id="sport-input" type="text" name="sport">
    <br>
  
    <label for="address-input"> Address: </label>
    <input  id="address-input" type="text" name="address">
    <br>
  
    <label for="date-and-time-input"> Date and time: </label>
    <input  id="date-and-time-input" type="date" name="dateAndTime">
    <br>
  
    <label   for="maxPlayers-input"> Max Players: </label>
    <textarea id="maxPlayers-input" type="number" name="maxPlayers"></textarea>
    <br>
    <label   for="currentPlayers-input"> Current Players </label>
    <textarea id="currentPlayers-input" type="number" name="currentPlayers"></textarea>
    <br>
    <button> Add a game </button>
  </form>